In [5]:
import numpy as np

## Arithematic Operations

In [6]:
a = 5 + 2
print(a)

b = 5 - 9
print(b)

c = 7 * 3
print(c)

d = 15 / 7
print(d)   ## division always returns 'float' type answer

e = 15 // 7  ## performs floor division (discards the fractional part)
print(e)

f = 13%2   ## returns remainder
print(f)

g = 5 ** 2    ## calculates power i.e. 5 power 2 = 25
print(g)

h = 12 * 0.5
print(h)

i = (3 + 5j) + (6 + 5j)
print(i)

7
-4
21
2.142857142857143
2
1
25
6.0
(9+10j)

## String Operations

In [7]:
'You started your python mastering journey here'

print("Initally it was boring.")  ## print produces output without quotes.

'It dosen\'t bother much'  ## \ is used to escape the quotes (dosen\'t)

Initally it was boring.

"It dosen't bother much"

In [8]:
print('C:\name\drive') ## here '\n' in \name  is interpreted as new line

C:
ame\drive

In [9]:
print(r'C:\name\drive') ##note r before the string. r denotes raw and it helps in interpreting the string as raw str.

C:\name\drive

In [10]:
print('Mayank\nVanani')

Mayank
Vanani

In [11]:
print('''    
Mayank
    Vanani
''')  ## ''"""  can be used to write multiple lines

Mayank
    Vanani

In [12]:
'mayank' + 'vanani'  ## string can be CONCATENATED using + operator

'mayankvanani'

In [13]:
3 * 'Sun'   ## string can be REPEATED by using * operator

'SunSunSun'

In [1]:
## 2 or more string adjacent to each other are automatically concatenated.
text = ('Put several strings within parentheses '
         'to have them joined together.')
print(text)

Put several strings within parentheses to have them joined together.

In [15]:
## Concatenating Variable 
initial = 'Py'
initial + 'thon'   ## variables with same dtype can ONLY be CONCATENATED

'Python'

In [16]:
word = 'JupyterNotebook'

print(word[0])   ## string can be indexed
print(word[7])
print(word[11])

## reverse indexing the word
## reverse indexing starts from -1. As for -0 has no relavance.
print(word[-1])  # last character
print(word[-2])  # second-last character

word[:5]   ## Slicing is also allowed

J
N
b
k
o

'Jupyt'

In [17]:
print(word[2:5])

print(word[-5:])

word[:5] + word[5:]

pyt
ebook

'JupyterNotebook'

In [20]:
word[42]  ## out of range index throws as error

IndexError: string index out of range

In [22]:
word[4:42]

'terNotebook'

In [23]:
word[52:]

''

In [24]:
'C' + word[2:10]

'CpyterNot'

#### strings are immutable. i.e. they cannot be changed. Apart  from that number and tuples are also immulatble.
objects that are not immutable cannot excute the following code

In [25]:
word[3] = 'a'

TypeError: 'str' object does not support item assignment

In [28]:
len(word)  ## gives the lenth of strings.

15