## More on Strings....

Strings are **immutable sequences**

class str(object='') <br/>
class str(object=b'', encoding='utf-8', errors='strict')

In [3]:
str('This section is devoted to various str objects')

'This section is devoted to various str objects'

In [4]:
## capitalizes only first word

str.capitalize('python')

'Python'

In [5]:
## performs hard lower casing of all the string bytes. Generally used to do caseless matching

str.casefold('MaYank')

'mayank'

In [6]:
## encodes the string in 'utf-8' format and raises Unicode error in case if any raised  .
str.encode('this is encoding')

b'this is encoding'

In [7]:
## to find whether a given substring exists in a string. Returns 'True' if exists.

myname = 'mayank vanani'
'may' in myname

True

In [8]:
## used to format string 

'sum of 1 + 2 is {}'.format(1 + 2)

'sum of 1 + 2 is 3'

In [9]:
## returns the index of first letter of the substring is found
## if substring is not found, then raises VALUE ERROR 

basic_string = 'string is to be found here'
basic_string.index('found')

16

In [10]:
a = 'My name is mayank'
b = 'I am 21 years old.'
c = 'mayank15628462'
d = 'asdfgh'
e = '125.2325'
f = '123456789'

c.isalnum() ## returns 'true' if string has 'all alphanumerics'

True

In [11]:
d.isalpha() ## returns 'true' if string has 'all alphabets with no spaces'

True

In [12]:
f.isdigit()  ## returns 'true' if string has 'all characters are digits'

True

In [13]:
e.isdecimal()  ## returns 'true' if string has 'all characters as decimal number'

False

In [14]:
a.islower()  ## returns 'true' if string has 'all characters in strings are lowercased'

False

In [15]:
f.isnumeric() ## returns 'true' if string has 'all numerics'

True

In [16]:
b.isspace()

False

In [17]:
str.join('mayank','vanani')  ## returns a concatenation of strings in iterable form

'vmayankamayanknmayankamayanknmayanki'

In [18]:
a.lower()  ## returns string witth all characters lower cased

'my name is mayank'

In [19]:
a.upper() ## returns string witth all characters upper cased

'MY NAME IS MAYANK'

In [20]:
a.lstrip('M') ##  strips the characters from strating from LEFT ONLY as specified by the specifier.

'y name is mayank'

In [27]:
a.rstrip('nk')  ##  strips the characters strating from RIGHT ONLY as specified by the specifier.

'My name is maya'

In [21]:
a.replace('mayank', 'James') ## replaces the substring by the specified substring

'My name is James'

In [22]:
## both behave the same way. i.e. both returns the index of starting letter of substring in a string.

a.find('mayank')  # returns -1 when substring is not found.
a.index('mayank') # returns Value error when substring is not found

11

### str.split(sep= , maxsplit= )

* sep is the delimiter with which we want to split
* maxsplit is the maximum no. of. splits that we want to have as output.

In [23]:
## all the given below codes function the same way. It splits the string with a specific delimiter.

string = 'Its nice to learn Python'
string.split(sep=None)
string.split()
string.split(sep=' ')

['Its', 'nice', 'to', 'learn', 'Python']

In [24]:
other_string = '1,2,3,4,5'
other_string.split(sep=',')

['1', '2', '3', '4', '5']

In [25]:
string_1 = 'My Name Is Mayank'
string_1.swapcase()  ## lowercase-->uppercase and uppercase-->lowercase

'mY nAME iS mAYANK'

In [26]:
str.title('its now or never!')  ## returns titles cased sentence.

'Its Now Or Never!'