# Data Structures in Python

## More on Lists [ ]

In [1]:
mylist = [1, 2, 3, 4, 5, 6]

In [2]:
mylist.append(7)  ## adds an item to the end of the list.
mylist

[1, 2, 3, 4, 5, 6, 7]

In [3]:
mylist.insert(7, 8)  ## list(index, value) i.e. inserts the 'value' at the 'index'.
mylist

[1, 2, 3, 4, 5, 6, 7, 8]

In [4]:
mylist.remove(8)  ## removes the values from the list.
mylist

[1, 2, 3, 4, 5, 6, 7]

In [5]:
mylist.pop(1)  ## .pop(index) i.e. removes and RETURNS the element at the specified index.
mylist

[1, 3, 4, 5, 6, 7]

In [6]:
mylist.clear()  ## clear the list aby removing alla the elements.
mylist

[]

In [7]:
mylist = [1, 2, 3, 4, 5, 6, 7, 7, 7, 8]

In [8]:
mylist.index(5)  ## return the inedx of the specified element

4

In [9]:
mylist.count(7)  ## reutns the no. of time the element has occured in the list.

3

In [10]:
list1 = [1,6,5,2,9,8,7]
list2 = ['mayank', 'andrew', 'james', 'michael', 'rogers']
list1.sort()
list2.sort()
print(list1)
print(list2)

[1, 2, 5, 6, 7, 8, 9]
['andrew', 'james', 'mayank', 'michael', 'rogers']

In [11]:
list1.reverse()
list1

[9, 8, 7, 6, 5, 2, 1]

## Using Lists as STACKS {LIFO}

In [12]:
stack = [3, 4, 5]

In [13]:
stack.append(6)
stack

[3, 4, 5, 6]

In [14]:
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [15]:
stack.pop()
stack

[3, 4, 5, 6]

In [16]:
stack.pop()

6

In [17]:
stack

[3, 4, 5]

## Using Lists as Queues {FIFO}

To implement a queue, use <span style="color:blue"> collections.deque</span> which was designed to have fast appends and pops from both ends.

In [18]:
from collections import deque

In [19]:
queue = deque(['mayank','raman','ram','bhim'])

In [20]:
queue.append('arjun')
queue

deque(['mayank', 'raman', 'ram', 'bhim', 'arjun'])

In [21]:
queue.append('nakul')
queue

deque(['mayank', 'raman', 'ram', 'bhim', 'arjun', 'nakul'])

In [22]:
queue.popleft()
queue

deque(['raman', 'ram', 'bhim', 'arjun', 'nakul'])

In [23]:
queue.popleft()
queue

deque(['ram', 'bhim', 'arjun', 'nakul'])

## Lists Comprehensions

List comprehensions provide a concise way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [24]:
squares = []
for x in range(10):
    squares.append(x**2)
    
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [25]:
x

9

**Note** that this creates (or overwrites) a variable named `x` that still exists after the loop completes. We can calculate the list of squares without any side effects using:

In [26]:
squares1 = [y**2 for y in range(10)]
squares1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [28]:
y  ## here unlike 'x' in previous comprehension, 'y' is not been assigned any value

NameError: name 'y' is not defined

In [29]:
## list comprehensions using 'for' and 'if' clauses
## combines elements of two lists that are not equal

[(x,y) for x in [1,5,9] for y in [3,2,9] if x!=y]

[(1, 3), (1, 2), (1, 9), (5, 3), (5, 2), (5, 9), (9, 3), (9, 2)]

In [30]:
## the above code can be implemented in the following way.

combs = []
for x in [1,5,9]:
    for y in [3,2,9]:
        if x!=y:
            combs.append((x,y))
combs

[(1, 3), (1, 2), (1, 9), (5, 3), (5, 2), (5, 9), (9, 3), (9, 2)]

**Note** how the order of the **_for_** and **_if_** statements is the same in both these snippets.

In [31]:
vec = [-4, -3, -2, -1, 0, 1, 2, 3, 4]

vec = [x*2 for x in vec] # create a new list with the values doubled
vec

[-8, -6, -4, -2, 0, 2, 4, 6, 8]

In [32]:
vec = [x for x in vec if x>=-4] # filtering the list
vec

[-4, -2, 0, 2, 4, 6, 8]

In [33]:
vec = [abs(x) for x in vec if x >= 0] # apply a function to all the elements
vec

[0, 2, 4, 6, 8]

In [34]:
# flatten a list using a listcomp with two 'for'
vec = [[1,2,3],[4,5,6],[7,8,9]]

for items in vec:
    for num in items:
        print(num, end = ' ')

1 2 3 4 5 6 7 8 9

In [35]:
## the Above can be written in the following manner

[num for items in vec for num in items]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
## List comprehensions can contain complex expressions and nested functions:

from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

## Nested Lists Comprehension

In [37]:
matrix = [[1,2,3,4],
          [5,6,7,8],
          [9,10,11,12]]


## consider the 3X4 matrix. 
## Taking the transpose of the matrix.

[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

As we saw in the previous section, the nested listcomp is evaluated in the context of the `for` that follows it, 
so this example is equivalent to:

In [38]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In the real world, you should prefer built-in functions to complex flow statements. The `zip()` function would do a great job for this use case:

### About `ZIP()`

In [39]:
x = [1,2,3]
y = [4,5,6]
z = [7,8,9]

zipped = zip(x,y,z)

list(zipped)

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [40]:
## Better options to take transpose of matrix is by using ZIP() Function

list(zip(*matrix))  ## parsing matrix as argument ie *matrix helps in opening the elements of matrix as after all
                    ## zip requires to pass various matrix as argument. For eg: zip(matrix_A, matrix_B).
                    ## range(2,5) is a coded value
                    ## But when passed as *range(2,5), it expands as [2,3,4]

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

## The `del` statement

There is a way to remove an item from a list given its index instead of its value: the `del` statement. This differs from the `pop()` method which returns a value. The `del` statement can also be used to remove slices from a list or clear the entire list (which we did earlier by assignment of an empty list to the slice). For example:

In [41]:
x = [1,2,3,4,5,6,7,8,9]

In [42]:
del x[0] ## deletes 0th indexed element.
x

[2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
del x[2:5] ##deletes elemts from index 2(including) to index 5(excluding)
x

[2, 3, 7, 8, 9]

In [44]:
del x[:]  ## basically clears the whole list
x

[]

In [45]:
del x  ## deletes the entire variable
x

NameError: name 'x' is not defined

## Tuples ( ) and Sequences

We saw that lists and strings have many common properties, such as indexing and slicing operations. They are two examples of sequence data types (see <span style="color:blue">Sequence Types â€” list, tuple, range</span>). Since Python is an evolving language, other sequence data types may be added. There is also another standard sequence data type: the tuple. <br/>
<br/>
A tuple consists of a number of values separated by commas, for instance:

In [87]:
t = 1234, 512, 'Hello!'

In [88]:
print(t[0])
print(t[2])

1234
Hello!

In [48]:
## tuples may be nested

f = t, ('new name', 325)
f

((1234, 512, 'Hello!'), ('new name', 325))

In [49]:
## Tuples are immutable
t[0] = 888  ## since we can't change its values, it raises an error

TypeError: 'tuple' object does not support item assignment

In [89]:
## tuples may contain MUTABLE OBJECTS

h = [1,2,3],[4,5,6]
h[0][1] = 15
h

([1, 15, 3], [4, 5, 6])

As you see, on output tuples are always enclosed in parentheses, so that nested tuples are interpreted correctly; they may be input with or without surrounding parentheses, although often parentheses are necessary anyway (if the tuple is part of a larger expression). It is not possible to assign to the individual items of a tuple, however it is possible to create tuples which contain mutable objects, such as lists. <br/>
<br/>
<br/>
Though tuples may seem similar to lists, they are often used in different situations and for different purposes. Tuples are immutable, and usually contain a **heterogeneous sequence** of elements that are accessed via unpacking or indexing. Lists are mutable, and their elements are usually **homogeneous** and are accessed by iterating over the list.
<br/>
<br/>
A special problem is the construction of tuples containing 0 or 1 items: the syntax has some extra quirks to accommodate these. Empty tuples are constructed by an empty pair of parentheses; a tuple with one item is constructed by following a value with a comma (it is not sufficient to enclose a single value in parentheses). Ugly, but effective.

In [90]:
empty = ()  ## creates an empty tuple
singleton = 12345,    ## <-- note the comma
singleton

(12345,)

In [53]:
len(empty)

0

In [54]:
len(singleton)

1

In [91]:
t = 12345, 54321, 'Hello'  ## tuples packing
x, y, z = t  ## tuples unpacking

In [56]:
print(x)
print(y)
print(z)

12345
54321
Hello

## Sets

Python also includes a data type for sets. A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.<br/>
<br/>
Curly braces or the `set()` function can be used to create sets. Note: to create an empty set you have to use `set()`, not `{}`; the latter creates an empty dictionary, a data structure that we discuss in the next section.

In [57]:
basket = {'mango','apple','pinepaple','guava', 'mango', 'mango'}
basket  # so duplicates have been removed

{'apple', 'guava', 'mango', 'pinepaple'}

In [58]:
'apple' in basket  ## fast membership testing

True

In [92]:
'tomato' in basket

False

In [60]:
a = set('asbdsadabasdasnijsd')
a  ## returns set of unique letter in the word.

{'a', 'b', 'd', 'i', 'j', 'n', 's'}

In [61]:
b = set('efjnaskdjnsdfsdbasdfds')
b

{'a', 'b', 'd', 'e', 'f', 'j', 'k', 'n', 's'}

### Set of operation on SETS

In [62]:
a - b  ## letters in a but not in b

{'i'}

In [63]:
a | b  ## a union b i.e. letters in a or b or both

{'a', 'b', 'd', 'e', 'f', 'i', 'j', 'k', 'n', 's'}

In [64]:
a & b ## a and b i,e, letter common in both a and b

{'a', 'b', 'd', 'j', 'n', 's'}

In [65]:
a ^ b   ## letter in a and b but NOT BOTH.

{'e', 'f', 'i', 'k'}

In [66]:
## SET COMPREHENSION .... similar to list comprehensions

{x for x in 'asdsadsadsaasdfkkasjbkab' if x not in 'abc'}

{'d', 'f', 'j', 'k', 's'}

## Dictionaries

Dictionaries are mapping type data structure. These are key value pair wherein hashable key has a value associated with it. Also Key are immutable objects so it can be strings and numbers nt lists can be key as they are mutable.

In [67]:
scores = {'sachin': 101, 'dravid':98, 'dhoni':58, 'ganguly':73}
scores

{'sachin': 101, 'dravid': 98, 'dhoni': 58, 'ganguly': 73}

In [68]:
scores['kohli'] = 38
scores

{'sachin': 101, 'dravid': 98, 'dhoni': 58, 'ganguly': 73, 'kohli': 38}

In [69]:
scores['sachin']

101

In [70]:
del scores['dravid']
scores

{'sachin': 101, 'dhoni': 58, 'ganguly': 73, 'kohli': 38}

In [71]:
list(scores)

['sachin', 'dhoni', 'ganguly', 'kohli']

In [72]:
sorted(scores)

['dhoni', 'ganguly', 'kohli', 'sachin']

In [73]:
## dict() constructor can be used to simply assign key,value pair to a dictonary

fruits = dict([('banana',38),('mango',45),('grapes',32)])
fruits

{'banana': 38, 'mango': 45, 'grapes': 32}

In [74]:
## dictionary Comprehensions are also used similarly to list comprehensions

{x: x**2 for x in range(6)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [93]:
## using strings as keys is easier as assigning/defining a dict is easy.

dict(mayank=28, rajan=32, nisarg=56, vatsal=95)

{'mayank': 28, 'rajan': 32, 'nisarg': 56, 'vatsal': 95}

**NOTE:** more on Dictinaries is given on **6.5_Dictionaries**

## Looping Techniques

In [76]:
## while looping through the dictionary, key and values can be retrieved as the same time by the following.

flowers = {'rose':32, 'sunflower':45, 'tulip':33, 'gulmohor':68}
for x, y in flowers.items():
    print(x,y)

rose 32
sunflower 45
tulip 33
gulmohor 68

In [77]:
## while looping through sequences, position index and corresponding values can be obtained as folows

names = ['rhodes','james','kay','richard','nike','tomas','alex']

for x,y in enumerate(names):
    print(x,y)

0 rhodes
1 james
2 kay
3 richard
4 nike
5 tomas
6 alex

In [78]:
subjects = ['firstname','surname','age']
credentials = ['mayank', 'vanani', 21]

for s,c in zip(subjects, credentials):
    print('What is your {}? It is {}.'.format(s,c))

What is your firstname? It is mayank.
What is your surname? It is vanani.
What is your age? It is 21.

In [79]:
## looping a sequences in reverse

for i in reversed(range(8)):
    print(i, end= ' ')

7 6 5 4 3 2 1 0

In [96]:
## looping the sequences in sorted order

mylist = ['tyson','cooper','chris','gotham','mayank','nike','alex','james', 'mayank', 'mayank']

for names in sorted(set(mylist)):
    print(names, end=' ')

alex chris cooper gotham james mayank nike tyson

In [81]:
## creating a new list while lopping over it.

import math
new_list = []

numbers = [23.5, float('NaN'), 32.8, 12.6 ,2.6, 45.7, float('NaN'), 10.2, 15.3, 98.7]
for num in numbers:
    if not math.isnan(num):
        new_list.append(num)
        
new_list

[23.5, 32.8, 12.6, 2.6, 45.7, 10.2, 15.3, 98.7]

## Comparing Sequences

Sequence objects may be compared to other objects with the same sequence type. The comparison uses lexicographical ordering: first the first two items are compared, and if they differ this determines the outcome of the comparison; if they are equal, the next two items are compared, and so on, until either sequence is exhausted. If two items to be compared are themselves sequences of the same type, the lexicographical comparison is carried out recursively. If all items of two sequences compare equal, the sequences are considered equal. If one sequence is an initial sub-sequence of the other, the shorter sequence is the smaller (lesser) one. Lexicographical ordering for strings uses the Unicode code point number to order individual characters. Some examples of comparisons between sequences of the same type:

In [82]:
(1,2,3) < (1,2,1)

False

In [83]:
[1,2,3] < [1,2,4]

True

In [84]:
'ABC' < 'P' < 'oops' < 'python'

True

In [85]:
(1,2,3) < (1,2,3,4,5)

True

In [86]:
[1,2,3] == [1.0, 2.0, 3.0]

True